
body {
    background-color: rgb(255, 223, 0);
    backgroung-image: url("");
}

#navBar {
    background-color: rgb(100, 100, 100);
    margin: -8px 10px 10px 10px;


    color: rgb(245, 245, 245);
    word-spacing: 45px;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;

    padding: 20px 30px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(175, 175, 175);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

h1 {
    background-color: rgb(150, 150, 150);
    margin-left: 20px;
    margin-right: 20px;

    color: rgb(230, 230, 230);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;

    padding: 20px 30px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(75, 75, 75);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
