body {
  background-color: powderblue;
  backgroung-image: url("")
  font-size: 100%;
}

h1 {
  color: orange;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 5em;
  border: 4px solid magenta;
  border-radius: 20px;
  padding: 4px;
}

h2 {
  color: purple;
}

p {
  color: red;
}


a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  color: blue
  text-decoration underline;
}

a:active {
  color: red;
  text-decoration: underline;
}
